@import "tailwindcss";

:root {
  --background: #e0e0e0;
  --foreground: #333333;
  --primary: #4a90e2;
  --light-shadow: #ffffff;
  --dark-shadow: #bebebe;
}

.dark {
  --background: #2c2c2c;
  --foreground: #ededed;
  --primary: #4a90e2;
  --light-shadow: #3a3a3a;
  --dark-shadow: #1c1c1c;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
 
}

.neumorphic {
  
  border-radius: 20px;
  box-shadow: 8px 8px 16px var(--dark-shadow), -8px -8px 16px var(--light-shadow);
}

.neumorphic-inset {
  
  border-radius: 20px;
  box-shadow: inset 8px 8px 16px var(--dark-shadow), inset -8px -8px 16px var(--light-shadow);
}